.container{
    margin: 0 auto;
}

.details{
    margin-top: 20px;
    display: flex;
    padding: 20px;

    img{
        width: 200px;
        height: 200px;
        border-radius: 10px;
        margin-right: 20px;
    }
}