<div class="modal bg-slate-100 rounded-md shadow-md p-4" *ngIf="true">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Add Intern</h2>
      <span class="close" (click)="closeModal.emit()">×</span>
    </div>
    <div class="modal-body">
      <form [formGroup]="createInternForm" (ngSubmit)="addIntern()">
        <div class="form-group">
          <label for="name">Username:</label>
          <input type="text" id="username" formControlName="username" required>
          <div *ngIf="createInternForm.get('username')?.invalid && createInternForm.get('username')?.touched">
            <div class="error">Username is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="course">Department:</label>
          <input type="text" id="department" formControlName="department" required>
          <div *ngIf="createInternForm.get('department')?.invalid && createInternForm.get('department')?.touched">
            <div class="error">Course is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="course">Programe:</label>
          <input type="text" id="programe" formControlName="programe" required>
          <div *ngIf="createInternForm.get('programe')?.invalid && createInternForm.get('programe')?.touched">
            <div class="error">Student Id is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="course">School</label>
          <input type="text" id="school" formControlName="school" required>
          <div *ngIf="createInternForm.get('school')?.invalid && createInternForm.get('school')?.touched">
            <div class="error">Student Address is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="course">Intern Email</label>
          <input type="text" id="email" formControlName="email" required>
          <div *ngIf="createInternForm.get('email')?.invalid && createInternForm.get('email')?.touched">
            <div class="error">Student Address is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="course">Intern Password</label>
          <input type="password" id="password" formControlName="password" required>
          <div *ngIf="createInternForm.get('password')?.invalid && createInternForm.get('password')?.touched">
            <div class="error">Student Password is required.</div>
          </div>
        </div>

        <!-- drop down of line managers -->
        <div class="form-group">
          <label for="course">Line Manager:</label>
          <select id="lineManager" formControlName="lineManager">
            <option value="">Select Line Manager</option>
            <ng-container *ngIf="lineManagers$ | async as lineManagers; else loading">
              <option *ngFor="let manager of lineManagers" [value]="manager.id">{{ manager.username }}</option>
            </ng-container>
            <ng-template #loading>
              <option disabled>Loading...</option>
            </ng-template>
          </select>
        </div> 
    
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md">Add Student</button>
      </form>
    </div>
  </div>
</div>
